# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Ignore Sqlite databases
*.sqlite3

# Jetbrains IDE files
.idea/

# Python cache
*.pyc

#Virtual env folder
venv

